#__next {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.8rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);

  & > * {
    pointer-events: none;
  }
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-secondary);
}
*::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: whitesmoke;
  border-radius: 50px;
}
